<div layout-align='space-between center' layout-warp class="md-whiteframe-5dp show-question">
	<md-button ui-sref="home" class="md-primary md-block md-accent">Back</md-button>
	<h1 class='md-display-1 title'>{{category.title}}</h1>
	<md-content flex layout-padding class='md-title'>
		<p>{{category.body}}</p>

	</md-content>
	<div layout-align="left center" layout-warp layout='row' class='answer-num'>
		<span class="content">Question({{category.questions.length}})||</span>

	</div>
	<div ng-repeat='question in category.questions' class='answer-num md-whiteframe-5dp answers' >

		<div ng-controller="ShowPageCtrl">
			<a ng-click="check(question.id)" >{{question.title}}</a>


			<span >{{question.content}}</span>

		</div>
			<!-- icon-thumb-up-outline  icon-thumb-up-->
		<!--<button ng-click='deletecom(answer.id)'>Delete answer</button>-->
	</div>
	<!--<form ng-submit='submitAnswer()'>
		<textarea ng-model='answer' width="450" class='answer p10'></textarea>
		<md-button type='submit' class='md-raised md-primary'>Submit Review</md-button>
	</form>-->
</div>
